@import url('https://fonts.googleapis.com/css?family=Lora:700&display=swap');

body {
    font-family: 'Lora', serif;
}

.list-group {
    margin-bottom: 1rem;
}

.fas {
    float: right;
    margin-left: 1rem;
    cursor: pointer;
}

.accordion {
    background-color: black;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.active, .accordion:hover {
    background-color: darkcyan;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}