{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/38a57cbb0e.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

        <title>Story 8</title>
    </head>
    <body>
        <div class="container text-center mt-5 mb-5">
            <h2>Get to know!</h2>
            <h1>Figo Muhammad Alfaritzi</h1>
        </div>
        <div class="container" style="width: 50%;">
            <div class="container" id="acc-one">
                <button class="accordion">
                    Education
                    <i class="fas fa-angle-double-up"></i>
                    <i class="fas fa-angle-double-down"></i>
                </button>
                <div class="panel">
                    <ul class="list-group">
                        <li class="list-group-item">SMAN Unggulan M. H. Thamrin / 2015</li>
                        <li class="list-group-item">Universitas Indonesia / 2018</li>
                    </ul>
                </div>
            </div>

            <div class="container" id="acc-two">
                <button class="accordion">
                    Organizational Experience
                    <i class="fas fa-angle-double-up"></i>
                    <i class="fas fa-angle-double-down"></i>
                </button>
                <div class="panel">
                    <ul class="list-group">
                        <li class="list-group-item">Olim UI 2018 / Staf Dokumentasi</li>
                        <li class="list-group-item">PMB Fasilkom UI 2019 / PJ Dokumentasi</li>
                    </ul>
                </div>
            </div>

            <div class="container" id="acc-three">
                <button class="accordion">
                    Current Activities
                    <i class="fas fa-angle-double-up"></i>
                    <i class="fas fa-angle-double-down"></i>
                </button>
                <div class="panel">
                    <ul class="list-group">
                        <li class="list-group-item">Katalayar Indonesia (Startup)</li>
                    </ul>
                </div>
            </div>

            <div class="container" id="acc-four">
                <button class="accordion">
                    Interests
                    <i class="fas fa-angle-double-up"></i>
                    <i class="fas fa-angle-double-down"></i>
                </button>
                <div class="panel">
                    <ul class="list-group">
                        <li class="list-group-item">Project Management</li>
                        <li class="list-group-item">UI/UX Design</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- Custom Script -->
        <script src="{% static 'js/script.js' %}"></script>

    </body>
</html>